@model IEnumerable<SGFR_Web.ViewModels.CategoriaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary " asp-action="Create">Adicionar novo Cliente</a>
</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoriaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoriaId">Deletar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
