@model IEnumerable<SGFR_Web.ViewModels.ClienteViewModel>
@{
    ViewData["Title"] = "Clientes Especiais";
}

<p>
    <a class="btn btn-primary" asp-action="Index">Voltar para a lista</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.ClienteId">Detalhes</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ClienteId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
